<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.privilege.mapper.PrivilegeMapper">
    <!--新增权限，并将其赋予超级管理员-->
    <insert id="insertPrivilege" parameterType="Map">
        INSERT INTO privilege(privilege_name)
        values(#{privilegeName,jdbcType=VARCHAR});
        INSERT INTO role_privilege(role_id,privilege_id)
        select r.role_id, p.privilege_id from privilege p,role r where
        privilege_name = #{privilegeName,jdbcType=VARCHAR}
        and role_name = '超级管理员';
    </insert>
    <!--删除权限，设置删除标志位为1，并不删除实际数据-->
    <update id="deletePrivilege" parameterType="map">
        update privilege set flag = 1 where privilege_name = #{privilegeName,jdbcType=VARCHAR}
    </update>
    <!--查看权限-->
    <select id="getPrivilege" parameterType="Map" resultType="Map">
        select p.privilege_id,p.privilege_name from privilege p
        left join role_privilege rp on p.privilege_id = rp.privilege_id
        where rp.role_id = #{roleId,jdbcType=DECIMAL} and p.flag = 0;
    </select>
    <!--分配权限给角色-->
    <insert id="assignPrivilege" parameterType="Map">
        INSERT INTO role_privilege(role_id,privilege_id) values
        <foreach collection="list" item = "item" separator=",">
            (#{roleId,jdbcType=DECIMAL},#{privilegeId,jdbcType=DECIMAL})
        </foreach>
    </insert>
</mapper>