<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.role.mapper.RoleMapper">
    <!--新增角色-->
    <insert id="insertRole" parameterType="Map">
        INSERT INTO ROLE(role_name,role_level,role_comment)
        values(#{roleName,jdbcType=VARCHAR},#{roleLevel,jdbcType=VARCHAR},#{roleComment,jdbcType=VARCHAR});
        /*insert into role_privilege(role_id,privilege_id)*/
        /*insert into role_privilege(role_id,privilege_id)
        select r.role_id,p.privilege_id from role r,privilege p
        where r.role_name = '超级管理员' and p.privilege_name = 'aaa';*/
    </insert>
    <!--为角色分配权限-->
    <!--<insert id="assignPrivilege" parameterType="map">
        <foreach collection="list" item="privilegeList" separator=",">
            insert into role_privilege(role_id,privilege_id) values
            select role_id,#{privilegeList.privilegeId} as privilege_id
            from role where role_name = #{roleName,jdbcType=VARCHAR},
        </foreach>
    </insert>-->
    <!--删除角色，设置删除标志位为1，并不删除实际数据-->
    <update id="deleteRole" parameterType="map">
        update role set flag = 1 where role_name = #{roleName,jdbcType=VARCHAR}
    </update>
    <!--查看角色-->
    <select id="getRole" resultType="map">
        select role_id,role_name,role_level,role_comment from role where flag = 0
        <if test="roleName!=null">and role_name like "%"#{roleName,jdbcType=VARCHAR}"%"</if>
    </select>
</mapper>