<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>权限管理平台主页</title>
    <script type="application/javascript" src="../common/jquery-3.3.1.min.js"></script>
    <script src="../common/layui/layui.js"></script>
    <!--<script src="../main/main.js"></script>-->
    <link rel="stylesheet" href="../common/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<form action="/user/export.do" id="download_form" method="post" class="layui-inline" style="display: inline;">
    <input type="hidden" id="page_data" class="layui-inline" name="userList">
    <input type="button" class="layui-btn layui-btn-normal layui-inline" id="export_excel" value="导出数据"/>
</form>
<script>
    $('#export_excel').on('click',function () {
       /* $('#page_data').val(JSON.stringify(userPage.data));*/
        $("#download_form").submit();
        //$.ajax();
    });
</script>
</body>
</html>