<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>权限管理平台主页</title>
    <script type="application/javascript" src="../common/jquery-3.3.1.min.js"></script>
    <script src="../common/layui/layui.js"></script>
    <link rel="stylesheet" href="../common/layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div class="layui-logo">权限管理平台</div>
        <!--<ul class="layui-nav layui-layout-left">
            <li id="animation-left-nav">隐藏菜单</li>
        </ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item topTab"><a href="">增加菜单</a></li>
            <li class="layui-nav-item layui-this topTab"><a href="">增加角色</a></li>
            <li class="layui-nav-item topTab"><a href="">增加权限</a></li>
            <!--<li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child"> &lt;!&ndash; 二级菜单 &ndash;&gt;
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>-->
            <li class="layui-nav-item">
                欢迎！<user></user>
            </li>
            <li class="layui-nav-item"><a href="../login.html">安全退出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;-->
            <ul class="layui-nav layui-nav-tree" lay-filter="test" id="memus"></ul>
        </div>
    </div>
    <!--tab标签
    <div class="layui-tab  layui-tab-card layui-tab-brief" lay-filter="test" lay-allowclose="true" style="margin-left: 200px;">
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content"></div>
    </div>-->

    <div class="layui-body">
        <!-- 动态选项卡 -->
        <div id="tabzu" class="layui-tab" lay-filter="tabDemo" lay-allowclose="true">
            <ul class="layui-tab-title"></ul>
            <div class="layui-tab-content"></div>
        </div>
    </div>
    <div class="layui-footer" style="text-align:center;">
        <!-- 底部固定区域 -->
        © com.wang 权限管理平台
    </div>
</div>
<script>
    var username = sessionStorage.getItem("username");
    document.getElementsByTagName('user')[0].innerHTML=username;
    $(".topTab").hide();
    layui.use('element', function() {
        function checkLastItem(arr, i) {
            return arr.length == (i + 1);
        }

        function getAhtml(obj){
            return "<a href=\"javascript:;\" onclick=\"addTab('" + obj.name + "','" + obj.url + "')\" >" + obj.name + "</a>";
        }
        var roleId = sessionStorage.getItem("roleId");
        //动态菜单
        layui.jquery.ajax({
            //测试数据
            //url: "../main/demo.json",
            //实际请求
            url: "../../menu/getMenu.do?roleId="+roleId,
            method: 'POST',
            success: function(res) {
                res = JSON.parse(res);
                var html = "";
                for(var i = 0; i < res.length; i++) {
                    var strli = "<li class=\"layui-nav-item lay-unselect \" >";
                    if (res[i].url =='#'){
                        strli = strli + "<a href=\"javascript:;\">" + res[i].name + "</a>";
                        //console.log(res[i].name)
                    }else{
                        //strli = strli + getAhtml(res[i]);
                    }
                    if(res[i].pId == "0" && !checkLastItem(res, i)/* && res[i + 1].pId != "0"*/) {
                        var resId = res[i].id;
                        strli = strli + "<dl class=\"layui-nav-child\" >";
                        for(var j = 0; /*!checkLastItem(res, j)&&*/j< res.length/*&& res[i + 1].pId == resId*/; j++) {
                            if(res[j].pId == resId){
                                strli = strli + "<dd>"+getAhtml(res[j])+"</dd>";
                            }
                        }
                        strli = strli + "</dl>";
                    }
                    strli = strli + "</li>";
                    html = html + strli;
                }
                layui.jquery("#memus").html(html);
                layui.element.init(); //一定初始化一次
            }
        })

    });
    //通过图标id来触发左侧导航栏收缩功能动画效果
    $('#animation-left-nav').click(function(){
        //这里定义一个全局变量来方便判断动画收缩的效果,也就是放在最外面
        if(i==0){
            $(".layui-side").animate({width:'toggle'});
            $(".layui-body").animate({left:'0px'});
            i++;
        }else{
            $(".layui-side").animate({width:'toggle'});
            $(".layui-body").animate({left:'200px'});
            i--;
        }
    });
    //左侧导航栏收缩提示
    $('#animation-left-nav').hover(function(){
        layer.tips('收缩左侧导航栏', '#animation-left-nav', {tips:[4,'#FF8000'],time:0});
    },function(){
        layer.closeAll('tips');
    });
    //添加选项卡
    function addTab(name, url) {
        if (layui.jquery(".layui-tab-title li[lay-id='" + name + "']").length > 0) {
            //选项卡已经存在
            layui.element.tabChange('tabDemo', name);
            /*layer.msg('切换-' + name)*/
        } else {
            //动态控制iframe高度
            var tabheight = layui.jquery(window).height() - 95;
            contentTxt = '<iframe src="' + url + '" scrolling="no" width="100%" height="' + (tabheight) + 'PX"></iframe>';
            //新增一个Tab项
            layui.element.tabAdd('tabDemo', {
                title: name,
                content: contentTxt,
                id: name
            })
            //切换刷新
            layui.element.tabChange('tabDemo', name)
            /*layer.msg('新增-' + name)*/
        }
    }

</script>
</body>
</html>